apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-deploy
  labels:
    app: guestbook
spec:
  replicas: 2
  selector:
    matchLabels:
      app: guestbook
  template:
    metadata:
      labels:
        app: guestbook
    spec:
      containers:
      - name: myapp
        image: roxsross12/guestbook
        ports:
        - containerPort: 5000
